@import "tailwindcss";

:root {
  color-scheme: light;
}

@theme inline {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-cormorant);
}

body {
  padding: 0 6.25rem 0 6.25rem;
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}
