@import "tailwindcss";

:root {
  color-scheme: light;
}

@theme inline {
  --font-manrope: var(--font-manrope);
  --font-cormorant: var(--font-cormorant);
}

body {
  margin: 0 6.25rem 0 6.25rem;
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}

.heading {
  font-family: var(--font-cormorant), Arial, Helvetica, sans-serif;
}
